<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="icon" href="/img/18.png">
    <link rel = "stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormess}}</p>
    </div>
    
    {{>footer}}
</body>


</html>